@font-face {
  font-family: ExtraThin;
  src: url("../fonts/Poppins-ExtraLight.ttf");
}
html {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.navbar-text div {
  font-family: ExtraThin;
  font-weight: 600;
  color: #8395a7;
}

::-webkit-input-placeholder {
  font-family: ExtraThin;
  font-weight: bold;
  color: #8395a7;
}

:-ms-input-placeholder {
  font-family: ExtraThin;
  font-weight: bold;
  color: #8395a7;
}
input,
textarea {
  font-family: ExtraThin;
  font-weight: bold;
}

form div {
  font-family: ExtraThin;
}
label {
  font-family: ExtraThin;
}
.page-header div {
  color: #43be31;
  font-size: 50px;
}
.page-header h4 {
  font-family: ExtraThin;
  color: black;
}
.form-div h4 {
  color: #0a79df;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-class {
  width: 75%;
  margin: 30px auto;
}
.page-header {
  font-family: ExtraThin;
}
.form-div {
  width: 100%;
}

.date1 {
  /* background-color: green; */
  display: inline-block;
  width: 400px;
  text-align: right;
}

.date2 {
  /* background-color: green; */
  display: inline-block;
  width: 600px;
  text-align: right;
}
.maindetails {
  width: 60%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.pname {
  /* background-color: darkred; */
  grid-column: 1/-1;
}
.marital {
  /* background-color: darkslateblue; */
  grid-column: 1/-1;
}
.age {
  /* background-color: deeppink; */
  grid-column-start: 2;
  grid-column-end: 4;
}
.state {
  /* background-color: green; */
  grid-column-start: 2;
  grid-column-end: 4;
}
.address {
  /* background-color: indigo; */
  grid-column: 1/-1;
}
.content {
  /* background-color: blanchedalmond; */
  grid-column: 1/-1;
}
.email {
  /* background-color: coral; */
  grid-column: 1/-1;
}
